[Unit]
Description=MakerbaseClient
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=bash /root/xindi/build/start.sh

[Install]
WantedBy=multi-user.target
