[Unit]
Description=Makerbase automount service
After=moonraker.service

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/bin/makerbase-automount %I

[Install]
WantedBy=multi-user.target
